<!--about me section-->
<section id="about" class="section py-20 bg-gray-100 dark:bg-gray-900" xmlns="http://www.w3.org/1999/html">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-bold mb-8 text-center font-garamond">About Me</h2>
        <div class="flex flex-col md:flex-row items-center md:items-start justify-center space-y-8 md:space-y-0 md:space-x-12">
            <div class="squircle bg-gray-300 dark:bg-gray-700 flex-shrink-0">
                <img src="assets/dp.jpg" alt="Habib HALIROU" class="w-full h-full object-cover" />
            </div>
            <div class="max-w-2xl text-center md:text-left">
                <p class="about-text font-space-mono">
                    Hi there! 👋 I'm a student at <a href="https://www.epsi.fr/"><span class="rdk-hover font-bold">EPSI</span></a> of Nantes.
                    <!-- I specialize in integrating and enhancing features for robust, high-performance systems -->
                    I'm also proficient in Bash scripting and autotools, streamlining the build process for efficient development workflows.
                </p>
                <br>
                <p class="about-text font-space-mono">
                    I'm also passionate about photography, graphic design and modern arts. When I'm not coding, you'll find me tinkering with one of them.
                </p>
                <br>
                <p class="about-text interests-container">
                    <span><span class="font-bold">Interests: </span> <u><a href="https://adventofcode.com/">Code challenge</a></u>, Movies, Science & reading📖</span>
                </p>
            </div>
        </div>
    </div>
</section>