<section id="experience" class="section py-16">
    <div class="container mx-auto px-4 max-w-4xl">
        <h2 class="text-3xl font-bold mb-16 text-center font-space-mono">Expériences Professionnelles</h2>

        <!-- Expérience 1 -->
        <div class="flex items-start bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md mb-6">
            <a href="https://www.latetedanslatoile.fr" class="text-gray-600 dark:text-gray-400"><img src="../assets/tetedanslatoile.png" alt="logo La tête dans la toile" height="741" width="741" class="w-12 h-12 mr-4"/></a>
            <div>
                <h3 class="text-xl font-semibold">Web developper internship</h3>
               <p>La tête dans la toile Jan 2025 Fev 2025</p>
                <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 mt-2">
                    <li>CMS change for the site <u><a href="https://www.cepia.team">Cepia</a></u></li>
                    <li>Automation of migration with PHP</li>
                    <li>Management of remote databases</li>
                </ul>
            </div>
        </div>

        <!-- Expérience 2 -->
        <div class="flex items-start bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md mb-6">
            <a href="https://pc-portable.net/" class="text-gray-600 dark:text-gray-400"><img src="../assets/info2r.png" alt="Logo Info2R" class="w-12 h-12 mr-4"></a>
            <div>
                <h3 class="text-xl font-semibold">IT Maintenance Technician Internship</h3>
                <p class="text-gray-600 dark:text-gray-400">INFO2R - APRIL 2024 to June 2024</p>
                <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 mt-2">
                    <li>Maintenance of the e-commerce site <u><a href="https://pc-portable.net">pc-portable.net</a></u></li>
                    <li>BIOS configuration of computers</li>
                    <li>Installation of operating systems</li>
                </ul>
            </div>
        </div>

        <!-- Expérience 3 -->
        <div class="flex items-start bg-white dark:bg-gray-800 p-6 rounded-lg shadow-md">
            <a href="https://www.dominos.fr" class="text-gray-600 dark:text-gray-400"><img src="../assets/dominos.png" alt="Logo domino's" class="w-12 h-12 mr-4"></a>
            <div>
                <h3 class="text-xl font-semibold">Student job</h3>
                <p class="text-gray-600 dark:text-gray-400">Domino's-In progress</p>
                <ul class="list-disc list-inside text-gray-700 dark:text-gray-300 mt-2">
                    <li>Order taking</li>
                    <li>Pizza production 🍕</li>
                    <li>Cash handling</li>
                </ul>
            </div>
        </div>
    </div>
</section>
